* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  box-sizing: border-box;
  font-family: 'Inknut Antiqua', serif;
}

main {
  display: flex;
  margin-top: 10px;
}

header {
  height: auto;
  width: auto;
  background-color: antiquewhite;
  border: rgb(0, 0, 0, 0.2) solid 5px;
  box-shadow: inset 0 0 10px #000000;
  display: flex;
  justify-content: center;
}

button {
  border: none;
  background: rgb(196, 196, 196, 0.2);
  font-family: 'Inknut Antiqua', serif;
}

/* form css  */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.form button {
  margin-top: 30px;
}

/* search bar component css  */

.search {
  width: auto;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.search button {
  margin-left: 10px;
}

/* shelf component css  */

.shelf {
  position: relative;
  /* border: black solid 1px; */
  right: 15px;
  height: auto;
  width: 20%;
  font-size: 0.7rem;
  text-align: center;
}

.shelf-list {
  width: 70%;
  margin: auto;
}

.shelf li {
  list-style: none;
  text-align: left;
  margin-top: 1rem;
  line-height: 1rem;
}

/* booklist component css  */

.booklist {
  width: 90%;
}

.booklist ul {
  display: flex;
  flex-wrap: wrap;
}

.booklist li {
  height: auto;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.booklist li p {
  width: 130px;
  font-size: 0.5rem;
  text-align: center;
}

img {
  height: 140px;
  width: 100px;
}

/* to disable books that have been clicked on  */

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  z-index: 2;
}

/* button animation  */

.hvr-outline-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-outline-in:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #696969 solid 4px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-in:hover:before,
.hvr-outline-in:focus:before,
.hvr-outline-in:active:before {
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  opacity: 1;
}

#review {
  width: 50%;
  height: 150px;
  overflow: auto;
}

.background-box {
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgb(0, 0, 0, 0.4);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.review-box {
  position: relative;
  background-color: rgb(253, 248, 241);
  height: 80%;
  width: 80%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#review-list {
  display: block;
  width: 100%;
  overflow: auto;
  height: 60%;
}

#review-list li {
  width: 80%;
  margin-left: 3%;
  line-height: 1rem;
  display: list-item;
  font-weight: 100;
  font-size: 0.7rem;
  margin-top: 3rem;
  word-wrap: break-word;
}

.close-button {
  background-color: transparent;
  position: absolute;
  right: 30px;
  top: 0px;
}

.text-area {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
